#Carta .contenedor , #Productos .contenedor , #Preguntas .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#Carta article , #Productos article , #Preguntas article{
    margin: 15px;
}
#Carta img , #Productos img ,#Preguntas img {
    width: 100%;
    max-width: 280px;
}
#Carta, #Productos , #Preguntas {
    background-color: rgb(194, 155, 97);
    text-align: center;
}
#Productos img {
    border-radius: 50%;
    border: 5px solid black;
}
@media (min-width:480px){
    .Producto{
        width: 40%;
    }
}
@media (min-width:1024px){
    .Producto{
        width: auto;
    }
}