#ProductosDestacados .Productos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#ProductosDestacados article {
    margin: 15px;
}
#ProductosDestacados img {
    width: 100%;
    max-width: 320px;
    height: 10px;
}
#ProductosDestacados {
    background-color: rgb(245, 216, 161);
}